//!!1. do wrapperów zrobić mixin z paddingiem stałym i kolorem do wyboru?
//2. Przygotować menu
//3. Przygotować sekcję komentarzy
//4. Zanimować elementy dodatkowe
//5. ScrollSpy dołączyć ??
//6. Dodać footer

/* Do zrobienia/rozważenia

!!1) Czcionka większa?
2) messenger podpiąć?
3) Efekty animowania rzeczy
4) Ikonka home w menu?
!!5) Zmniejszać czcionkę h3? na mniejszych ekranach
6) Czy ustalić wysokość service card na min 307px na większych ekranach?
!!7) Dodać marginesy w p na małych ekranach lub padding
8) Wyłaczyć zamykanie się modal services po kliknięciu w innej miejsce niż button lub poza modal
9) Wycentrować tekst w paralaxach na malych ekranach


Title section - jako komponent?
*/


//@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$font-QS: 'Quicksand', sans-serif;
$font-Exo: 'Exo 2', sans-serif;
$font-Lato: 'Lato', sans-serif;
$font-Poppins: 'Poppins', sans-serif;

$color-turcus-dark: #17ae92;
$color-turcus-bright: #5DBCD2;
$color-gray-dark: #A5A5A5;
$color-gray-bright: #EBEBEB;
$color-green-dark: #016857;
$color-green-bright: #85B4AA;
$color-orange: #F9A13D;


/*General*/
html, body{
    background-color: #ffff;
    color: #000;
 //   font-family: $font-QS;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    margin-top: 0px !important;
    width: 100%;

    scroll-behavior: smooth;

    .sr .load-hidden{
        visibility: hidden;
    }
}

img{
    max-width: 100%;
}

p.margined{
    margin-bottom: 2rem;
}

a, a:link, a:visited, a:hover{
    text-decoration: none;
    color: inherit !important;
}

button:focus{
    outline: none;
}

h3{
    color: $color-turcus-bright;
    border-bottom: 2px solid $color-turcus-bright;
    padding: 10px 0px;
    
}

.paralax{
    min-height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin paragraph-title($color){
    display: inline-block;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: $color;
}

.paragraph-title-green{
    @include paragraph-title($color-turcus-dark)
}

.paragraph-title-white{
    @include paragraph-title(white)
}

@mixin wrapper($color) {
    padding: 50px 0px;
    background-color: $color;
    
}

.button{
    padding: 14px 28px;
    background-color: $color-turcus-dark;
    border: 2px solid $color-turcus-dark;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    cursor: pointer;
        &:hover{
            color: $color-turcus-dark;
            background-color: #fff;
        }

}


.button-small{
    display: inline-block;
    padding: 10px 25px;
    background-color: $color-orange;
    border: 2px solid black;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
        &:hover{
            background-color: $color-turcus-bright;
        }
}
//Allow for anchor tags to be applied with margin
section{
    scroll-margin-top: 3rem;
}
/*------------------------------------*/

/*Header*/
.header-wrapper{
    background: url(../img/Head-Photo-BG-mask.png) no-repeat center center fixed;
    background-size: cover; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.overlay{
    background: rgba(23, 174, 146, 0.5);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.sub-header-text{
    font-size: 40px;
    //font-family: 'Uni-Sans-Thin'; 
    //font-family: $font-Exo;
    color: #fff;
    margin-bottom: 0px !important; 
    text-shadow: 3px 3px 5px #000;
}

.header-text{
    font-size: 70px;
    //font-weight: bold;
    //font-family: 'Uni-Sans-Heavy';
    //font-family: $font-Exo;
    color: #fff;
    text-transform: uppercase;
    margin-top: 5px !important;
    text-shadow: 3px 3px 5px #000;
}

/*------------------------------------*/


/*Header-subpages*/
.header-aktualnosci-wrapper{
    background: url(../img/News-2-BG.jpg) no-repeat;
    min-height: 300px;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}




/*About*/
.about-wrapper{
    @include wrapper(white);
}

// .image-about{
//     width: 100vw;
//     min-height: 300px;
// }

.h3-link:hover{
    h3{
        color: $color-turcus-dark;
    }
}

/*------------------------------------*/

/*News*/

.news-wrapper{
    background-image: url(../img/News-4-BG.jpg);
    padding: 90px 0px;

    p{
        color: white;
        text-align: justify;
    }
}

/*------------------------------------*/

/*Services*/
.services-wrapper{
    @include wrapper($color-gray-bright);
    box-sizing: border-box;
}

.services-box{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    text-align: center;
    transition: all ease-out .5s;
    overflow: hidden;

    &:hover{
        box-shadow: 0 15px 25px rgba(0,0,0,0.8);
        cursor: pointer;

        .services-box-icon img{
            animation: bounce 1s ease;
        }

        .services-box-content{
            color: var(--slideTextColor);
            background-position: -50% 100%;
        }
        
    }

}

    .services-box-content{
        padding: 1em .5em 3em .5em;
        
        --initialTextColor: #000                ;
        --slideTextColor: #FFF;

        --initialBgColor: #FFF;
        --slideBgColor: #17ae92;

        color: var(--initialTextColor);

        background-image: linear-gradient(180deg,
            var(--initialBgColor) 0%,
            var(--initialBgColor) 50%,
            var(--slideBgColor) 50%,
            var(--slideBgColor) 100%);
        background-size: 100% 200%;
        transition: background-position .3s cubic-bezier(.47, .1, 1, .63), color .2s linear;
        transition-delay: 0.0s, 0.15s;
    
    }

    .services-box-icon{
        padding: 2em 0 0 0;

        img{
            max-width: 6rem;
            margin-bottom: 2em;
        }
    }

    .services-modal{
        padding-right: 0px !important;


        .modal-header{
            flex-direction: column;
            border-bottom: none;
            padding: 1rem 1rem 0 1rem;
        }
    }

    .img-modal{
        width: 7rem;
        padding: 2em 0 1em 0 ;
    }
    
/*------------------------------------*/


/*Shop*/

.shop-wrapper{
    background-image: url(../img/Shop-4-BG.jpeg);
    padding: 90px 0px;

    p{
        text-align: justify;
    }
}

/*------------------------------------*/



/*Staff*/
.staff-wrapper{
    @include wrapper(#fff);
}

.staff-photo{
    img{
        border-radius: .25rem;
    }
}



/*------------------------------------*/

/*Contact*/
.contact-wrapper{
    @include wrapper($color-gray-bright);

    p{
        margin-bottom: 5px;
    }
}


.indent{
    //margin-right: calc(25px + 1em);
    margin-right: 2.5em;
}

label{
    margin-bottom: 5px;
    font-weight: 700;
}

.label-rodo{
    font-size: 10px;
    cursor: pointer;
}

.contact-form-button{
    @extend .button;
    margin-top: 20px;
}

.icon{
    max-height: 1.5em;
    margin-right: 1em;
}

#google-map{
    min-height: 400px;
}

/*------------------------------------*/


/*Reviews*/

.reviews-wrapper{
    background-image: url(../img/Reviews-10-BG.jpg);
    padding: 90px 0px;
}

.BrainhubCarouselItem{
    justify-content: flex-start;
    align-items: flex-start !important;
    margin: 0px 20px;
}

blockquote{
    padding: 0px 40px 0px 0px;
    
    p{
        font-weight: 500;
    }
}

.cite{
    font-size: .8rem;
    font-style: italic
}

.cite-mark{
    font-size: 1.4rem;
    color: #dc3e67;
    margin-bottom: 15px;
}



/*------------------------------------*/




/*Footer*/
.footer-wrapper{
    background-color: $color-turcus-dark;
    color: white;
    padding: 15px 0px;

        p{
            margin: 0px;
            font-size: 14px;
        }

        a{
            color: white;
            text-decoration: none;
        }

}

/*Scroll Top Button*/
#scroll-top-button{
    display: inline-block;
    position: fixed;
    width: 50px;
    height: 50px;
    right: 50px;
    bottom: 85px;
    background-color: $color-orange;
    z-index: 500;
    transition: background-color .3s, opacity .5s, visibility .5s;

}

#scroll-top-button:hover {
    cursor: pointer;
    background-color: $color-turcus-bright;

    svg{
        color: white;
    }
  }
#scroll-top-button:active {
    background-color: $color-turcus-bright;
  }





// /*Navbar*/
body{

    .nav-wrapper{
        font-family: $font-Poppins;
        background-color: #ffff;
        padding: 15px 0px;
        transform: translateY(0);
        box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
        -webkit-transition : all 0.3s ease-out;
        transition : all 0.3s ease-out;

        .navbar{
            font-weight: 400;
            padding: 0px;
        }
    
    }
    .nav-wrapper.smaller{
            padding: 5px 0px;
        }


        .navbar-brand-logo{
            width: 200px;
        }
        .navbar-toggler {
            border: none;

            .navbar-toggler-icon{
                width: 25px;
                height: 18px;
                background-image: none;
                position: relative;
                border-bottom: 1px solid #000;
                transition: all 300ms linear;
            }
        }

        .navbar-toggler:focus,
        .navbar-toggler:active,
        .navbar-toggler-icon:focus {
            outline: none;
            box-shadow: none;
        }

        .navbar-toggler-icon:after, 
        .navbar-toggler-icon:before{
            width: 25px;
            position: absolute;
            height: 1px;
            background-color: #000;
            top: 0;
            left: 0;
            content: '';
            z-index: 2;
            transition: all 300ms linear;
        }

        .navbar-toggler-icon:after{
            top: 8px;
        }

        //Toggler after opening
        .open .navbar-toggler-icon:after {
            transform: rotate(45deg);
        }
        .open .navbar-toggler-icon:before {
            transform: translateY(8px) rotate(-45deg);
        }
        .open .navbar-toggler-icon {
            border-color: transparent;
        }
        //---------------------------

        
        .dropdown-toggle:after{
            display:none;
        }

        .nav-link{
            transition: all 200ms linear;
        }
        .nav-item:hover .nav-link,
        .nav-item .active{
            color: $color-turcus-dark !important;
        }

        .nav-link {
            position: relative;
            padding: 5px 0 !important;
            display: inline-block;
        }

        .nav-item:hover:after{
            bottom: 0;
            opacity: 1;
        }
        .nav-item.active:hover:after{
            opacity: 0;
        }
        .nav-item{
            position: relative;
            transition: all 200ms linear;
            margin-left: 25px
        }


        .nav-item .dropdown-menu {
            transform: translate3d(0, 10px, 0);
            visibility: hidden;
            opacity: 0;
            max-height: 0;
            display: block;
            padding: 0;
            margin: 0;
            transition: all 200ms linear;
        }
        .nav-item.show .dropdown-menu {
            opacity: 1;
            visibility: visible;
            max-height: 999px;
            transform: translate3d(0, 0px, 0);
        }
        .dropdown-menu {
            padding: 10px !important;
            margin: 0;
            font-size: 13px;
            letter-spacing: 1px;
            color: #212121;
            background-color: #fcfaff;
            border: none;
            border-radius: 3px;
            box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
            transition: all 200ms linear;
        }
        .dropdown-toggle::after {
            display: none;
        }
        
        .dropdown-item {
            padding: 3px 15px;
            color: #212121;
            border-radius: 2px;
            transition: all 200ms linear;
        }
        .dropdown-item:hover, 
        .dropdown-item:focus {
            color: #ffff !important;
            background-color: $color-turcus-dark;
        }
}

// .anchor::before{
//     content: "";
//     display: block;
//     position: absolute;
//     padding-top: 232px;
//     margin-top: -232px;
// }




 //animations
 
 @keyframes spin{
    from { transform: rotate(0deg)}
    to { transform: rotate(25deg)}
 }

 @keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-20px);}
	60% {transform: translateY(-10gpx);}
 }


 